@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(240, 240, 240);
}

header nav {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(0, 204, 255);
}

header nav img {
  width: 200px;
}

.container {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  background-color: #d6d6d6;
}

.container div {
  padding: 20px;
}

.container div p {
}