@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(240, 240, 240);
}

header nav {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(0, 204, 255);
}

header nav img {
  width: 200px;
}

.container {
  margin: 0 auto;
  width: 80%;
  justify-content: center;
  background-color: #d6d6d6;
}

.container div {
  padding: 20px;
}

.container div p {
}

.container-one {
  margin: 0 auto;
  padding: 30px;
  width: 80%;
  justify-content: center;
  background-color: #d6d6d6;
}

.container-one h1 {
  margin-bottom: 40px;
}

.login-form {
  width: 50%;
  margin: 0 auto;
}

.login-form form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form form input {
  margin-bottom: 30px;
}

.register-form {
  width: 50%;
  margin: 0 auto;
}

.register-form form {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-form form input {
  margin-bottom: 30px;
}